<html>
  <title>
      Page potin
  </title>

  <body>
      <h3>PAGE POTIN </h3>
      <p>Voici la page du potin n <%=id%> </p> 
      <p>Son auteur: ==<%= gossips.author %>==<br/></p>
      <p>Le contenu du potin: ==<%= gossips.content %>==</p>
      <br/>
      <a href="/">Lien pour revenir à la page des potins</a>
  </body>
</html>